$bp-md: 768px;

.hero {
  position: relative;
  width: 100%;
  margin: 20px 0;

  .imagesHero {
    width: 100%;

    .imageHeroInterior {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: $bp-md) {
  .hero {
    .imagesHero {
      .imageHeroInterior {
        width: 100%;
        height: auto;
      }
    }
  }
}
