$container-width: 1390px;
$padding-content: 16px 20px 19px;
$bp-md: 768px;
$width-menu-burguer-mobile: 90%;
$padding-section-menu-burguer-mobile: 9px 10px;
$padding-section-second: 11px 30px 11px 10px;
$padding-section-footer: 15px 20px;

.men-bur {
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  .menu-burguer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-content;

    &__container {
      width: 100%;
      max-width: $container-width;

      ul {
        display: flex;
        justify-content: space-around;

        li {
          font-size: 14px;
          font-weight: 400;
          color: #000000;
          padding: 0 0 0 5px;
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.6px;
            bottom: -4px;
            left: 0;
            background-color: currentColor;
            transform: scaleX(0);
            transition: transform 0.3s ease;
          }

          &:hover::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

// Menu Burguer Mobile
.menu-burguer-mobile {
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100vh;

  &__container {
    width: $width-menu-burguer-mobile;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .ul-section {
      width: 100%;
      display: flex;
      flex-direction: column;

      .link-section {
        display: flex;
        align-items: center;
        width: 100%;

        .li-section-ingresar {
          width: 100%;
          font-size: 16px;
          padding: $padding-section-menu-burguer-mobile;
          display: flex;
          align-items: center;

          .icono {
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
              margin: 0 6px 0 0;
              width: 26px;
              height: 34px;
            }
          }

          p {
            font-size: 16px;
          }
        }
      }

      .link-logout-access {
        color: white;
        font-weight: bold;
        background-color: black;

        &:hover {
          transition: opacity 0.3s ease;
          opacity: 0.9;
        }
      }

      .link-section {
        .li-section {
          font-size: 14px;
          padding: $padding-section-second;
        }
      }
    }

    .footer-menu-burguer {
      background-color: #f4f4f4;
      border-top: 1px solid #cccccc;

      .ul-section-footer {
        display: flex;
        flex-direction: column;

        .li-section-footer {
          padding: $padding-section-footer;
          font-size: 14px;

          .a-link-my-github {
            margin: 0 0 0 6px;
            color: #ff5722;

            &:hover {
              text-decoration: underline;
              transition: 0.3s ease;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $bp-md) {
  .men-bur {
    display: none;
  }

  .menu-burguer-mobile {
    display: block;
  }
}
