$margin-content: 2vw 0;
$margin-content-mobile: 0vw 0;
$bp-md: 768px;

.offer-home {
  width: 100%;
  margin: $margin-content;

  .offer-home__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .image-container {
      width: 49.5%;

      .image-inside {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: $bp-md) {
  .offer-home {
    margin: $margin-content-mobile;

    .offer-home__container {
      width: 100%;
      flex-direction: column;

      .image-container {
        width: 100%;
        margin: 10px 0 0 0;
      }
    }
  }
}
